{% extends 'base.html.twig' %}
{% block title %} 
   Somme de deux nombres 
{% endblock %} 
{% block body %} 

<h1>la somme de {{a}} et {{b}} egale {{somme}}</h1>

<hr>
<img src="{{asset('images/sousse.jpg')}}" />
<hr>
<p>
<a href="{{path('app_test')}}"> aller vers page test</a>
</p>

{% endblock %} 
